<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Investment.Web</title>
    
    <!-- Bootstrap Css -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    
    <!-- Site Css-->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    
    <!-- Sweet Alert-->
    <link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    
    <!-- CUSTOM Css-->
    <link rel="stylesheet" href="~/Investment.Web.styles.css" asp-append-version="true" />
    
    <!-- font awesome css-->
    <link href="~/lib/fontawesome/css/all.min.css" rel="stylesheet">
    
    <!-- Jquery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    
    <!-- Sweet Alerts js -->
    <script src="~/lib/sweetalert2/sweetalert2.all.min.js"></script>

    <!-- Sweet alert init js-->
    <script src="~/lib/sweetalert2/sweet-alerts.init.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Allvue Investment</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "bg-primary text-white" : "text-dark")" 
                               asp-area="" asp-controller="Home" asp-action="Index">
                                Stock Lots
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "SaleRecords" ? "bg-primary text-white" : "text-dark")" 
                               asp-area="" asp-controller="SaleRecords" asp-action="Index">
                                Sale Records
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
            
            <!-- div for all Modals -->
            <div id="allModals"></div>
        </main>
    </div>

<footer class="border-top footer text-muted">
    <div class="container">
            &copy; 2024 - Allvue Investment
    </div>
</footer>
    

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- JAVASCRIPT CUSTOM -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
