@model List<Investment.Core.DTOs.StockLotDto>

@{
    ViewData["Title"] = "Stock List";
}
<div class="container mt-5">
    <h2 class="text-center mb-4">Available Stock Lots</h2>

    <div class="d-flex justify-content-between mb-3">
        <button id="simulateSale" class="btn btn-primary">
            <i class="fas fa-calculator mr-2"></i> Simulate Sale
        </button>

        <button id="showCreateStockLot" class="btn btn-success">
            <i class="fas fa-plus mr-6"></i>New Stock Lot
        </button>
    </div>

    <div class="table-responsive" id="stockGrid">
        @await Html.PartialAsync("_StockGrid", Model)
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $("#simulateSale").click(function () {            
            showModalSimulateSale();
        });

        $("#showCreateStockLot").click(function () {
            showModalCreateStockLot();
        });
    });
    
    function RefreshGrid() {
        CallAjax('@Url.Action("GetStocks", "Home")', {
            type: 'GET',
            fnDone: function (data) {
                $('#stockGrid').html(data);
            },
            fnError: function (xhr, ajaxOptions, thrownError) {     
                showMessage("3", xhr.statusText);
            }
        });
    }

    // Show a modal Calculate Sell Results
    function showModalSimulateSale() {

        function callBackModalSimulateSale(data) {
            
        }
                
        var url = '@Url.Action("ModalSimulateSale", "Home")';
        CreateModal('modalSimulateSale', url, 'modal-md', { fnClose: callBackModalSimulateSale });
    }

    // Show a modal create stock lot
    function showModalCreateStockLot() {

        function callBackModalCreateStockLot(data) {
            
        }
                
        var url = '@Url.Action("ModalCreateStockLot", "Home")';
        CreateModal('modalCreateStockLot', url, 'modal-md', { fnClose: callBackModalCreateStockLot });
    }
</script>

<style>
    #simulateSale {
        background-color: #007bff;
        border: none;
    }
    #showCreateStockLot {
        background-color: #28a745;
        border: none;
    }
</style>